StockWebService/StockWebApplication/Connected Services/StockService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Hello">
        <s:complexType />
      </s:element>
      <s:element name="HelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nameInitial" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initialResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="For_x0020_getting_x0020_the_x0020_birth_x0020_date">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="symbol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="For_x0020_getting_x0020_the_x0020_birth_x0020_dateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="For_x0020_getting_x0020_the_x0020_birth_x0020_dateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloSoapIn">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="HelloSoapOut">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbersSoapIn">
    <wsdl:part name="parameters" element="tns:For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbers" />
  </wsdl:message>
  <wsdl:message name="For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbersSoapOut">
    <wsdl:part name="parameters" element="tns:For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbersResponse" />
  </wsdl:message>
  <wsdl:message name="For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbersSoapIn">
    <wsdl:part name="parameters" element="tns:For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbers" />
  </wsdl:message>
  <wsdl:message name="For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbersSoapOut">
    <wsdl:part name="parameters" element="tns:For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbersResponse" />
  </wsdl:message>
  <wsdl:message name="For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbersSoapIn">
    <wsdl:part name="parameters" element="tns:For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbers" />
  </wsdl:message>
  <wsdl:message name="For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbersSoapOut">
    <wsdl:part name="parameters" element="tns:For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbersResponse" />
  </wsdl:message>
  <wsdl:message name="For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbersSoapIn">
    <wsdl:part name="parameters" element="tns:For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbers" />
  </wsdl:message>
  <wsdl:message name="For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbersSoapOut">
    <wsdl:part name="parameters" element="tns:For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbersResponse" />
  </wsdl:message>
  <wsdl:message name="For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initialSoapIn">
    <wsdl:part name="parameters" element="tns:For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initial" />
  </wsdl:message>
  <wsdl:message name="For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initialSoapOut">
    <wsdl:part name="parameters" element="tns:For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initialResponse" />
  </wsdl:message>
  <wsdl:message name="For_x0020_getting_x0020_the_x0020_birth_x0020_dateSoapIn">
    <wsdl:part name="parameters" element="tns:For_x0020_getting_x0020_the_x0020_birth_x0020_date" />
  </wsdl:message>
  <wsdl:message name="For_x0020_getting_x0020_the_x0020_birth_x0020_dateSoapOut">
    <wsdl:part name="parameters" element="tns:For_x0020_getting_x0020_the_x0020_birth_x0020_dateResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input name="Hello" message="tns:HelloSoapIn" />
      <wsdl:output name="Hello" message="tns:HelloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Addition">
      <wsdl:input name="For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbers" message="tns:For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbersSoapIn" />
      <wsdl:output name="For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbers" message="tns:For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Subraction">
      <wsdl:input name="For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbers" message="tns:For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbersSoapIn" />
      <wsdl:output name="For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbers" message="tns:For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <wsdl:input name="For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbers" message="tns:For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbersSoapIn" />
      <wsdl:output name="For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbers" message="tns:For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Division">
      <wsdl:input name="For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbers" message="tns:For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbersSoapIn" />
      <wsdl:output name="For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbers" message="tns:For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetName">
      <wsdl:input name="For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initial" message="tns:For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initialSoapIn" />
      <wsdl:output name="For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initial" message="tns:For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBirthDate">
      <wsdl:input name="For_x0020_getting_x0020_the_x0020_birth_x0020_date" message="tns:For_x0020_getting_x0020_the_x0020_birth_x0020_dateSoapIn" />
      <wsdl:output name="For_x0020_getting_x0020_the_x0020_birth_x0020_date" message="tns:For_x0020_getting_x0020_the_x0020_birth_x0020_dateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/Hello" style="document" />
      <wsdl:input name="Hello">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Hello">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addition">
      <soap:operation soapAction="http://tempuri.org/For the sum of two numbers" style="document" />
      <wsdl:input name="For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbers">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subraction">
      <soap:operation soapAction="http://tempuri.org/For the difference of two numbers" style="document" />
      <wsdl:input name="For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbers">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <soap:operation soapAction="http://tempuri.org/For the product of two numbers" style="document" />
      <wsdl:input name="For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbers">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://tempuri.org/For the division of two numbers" style="document" />
      <wsdl:input name="For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbers">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetName">
      <soap:operation soapAction="http://tempuri.org/For getting the user's nameInitial by writing her initial" style="document" />
      <wsdl:input name="For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initial">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initial">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBirthDate">
      <soap:operation soapAction="http://tempuri.org/For getting the birth date" style="document" />
      <wsdl:input name="For_x0020_getting_x0020_the_x0020_birth_x0020_date">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="For_x0020_getting_x0020_the_x0020_birth_x0020_date">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/Hello" style="document" />
      <wsdl:input name="Hello">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Hello">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addition">
      <soap12:operation soapAction="http://tempuri.org/For the sum of two numbers" style="document" />
      <wsdl:input name="For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbers">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="For_x0020_the_x0020_sum_x0020_of_x0020_two_x0020_numbers">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subraction">
      <soap12:operation soapAction="http://tempuri.org/For the difference of two numbers" style="document" />
      <wsdl:input name="For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbers">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="For_x0020_the_x0020_difference_x0020_of_x0020_two_x0020_numbers">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <soap12:operation soapAction="http://tempuri.org/For the product of two numbers" style="document" />
      <wsdl:input name="For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbers">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="For_x0020_the_x0020_product_x0020_of_x0020_two_x0020_numbers">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap12:operation soapAction="http://tempuri.org/For the division of two numbers" style="document" />
      <wsdl:input name="For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbers">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="For_x0020_the_x0020_division_x0020_of_x0020_two_x0020_numbers">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetName">
      <soap12:operation soapAction="http://tempuri.org/For getting the user's nameInitial by writing her initial" style="document" />
      <wsdl:input name="For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initial">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="For_x0020_getting_x0020_the_x0020_user_x0027_s_x0020_nameInitial_x0020_by_x0020_writing_x0020_her_x0020_initial">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBirthDate">
      <soap12:operation soapAction="http://tempuri.org/For getting the birth date" style="document" />
      <wsdl:input name="For_x0020_getting_x0020_the_x0020_birth_x0020_date">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="For_x0020_getting_x0020_the_x0020_birth_x0020_date">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44312/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44312/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>